<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="registerForm.valid && submitted ">
        <h3>Fill the new Customer Form</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="post">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName"  class="form-control" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }"/>
            <div *ngIf="f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.touched  || submitted && f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" />
            <div *ngIf="f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.touched && f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
            <div *ngIf="f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.touched && f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': f.phoneNumber.touched && f.phoneNumber.errors }" />
            <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.touched && f.phoneNumber.errors.required">Phone number is required</div>
              <div *ngIf="f.phoneNumber.errors.pattern">Invalid phone format, must be +370-00000000</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
          </div>
        </form>
      </div>
      <div *ngIf="submitted && registerForm.valid">
        <h4>You submitted successfully!</h4>
      </div>
    </div>
  </div>
</div>
