<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" [hidden]="registerForm.valid && submitted && !isSignUpFailed">
        <h3>User Registration</h3>
        <form [formGroup]="registerForm" #fo="ngForm" (ngSubmit)="fo.valid && onSubmit()" method="post">
          <div class="form-group">
            <label>Firstname</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="Firstname"
                   [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }"/>
            <div *ngIf="f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.touched  || submitted && f.firstName.errors.required">Firstname is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Lastname"
                   [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }"/>
            <div *ngIf="f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.touched && f.lastName.errors.required">Lastname is required!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email"
                   [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"/>
            <div *ngIf="f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.touched && f.email.errors.required">Email is required!</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address!</div>
              <div *ngIf="f.email.errors.maxLength">Email address must contain no more than 50 symbols!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"
                   [ngClass]="{ 'is-invalid': f.phoneNumber.touched && f.phoneNumber.errors }"/>
            <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.touched && f.phoneNumber.errors.required">Phone number is required!</div>
              <div *ngIf="f.phoneNumber.errors.pattern">Invalid phone format, must be +370-00000000 format!</div>
              <div *ngIf="f.phoneNumber.errors.maxLength">Phone number must contain no more than 20 numbers!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Username"
                   [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }"/>
            <div *ngIf="f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.touched && f.username.errors.required">Username is required!</div>
              <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters!</div>
              <div *ngIf="f.username.errors.maxlength">Username must contain no more than 20 symbols!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
                   [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"/>
            <div *ngIf="f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.touched && f.password.errors.required">Password is required!</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters!</div>
            </div>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
                   [ngClass]="{ 'is-invalid':f.confirmPassword.touched && f.confirmPassword.errors }"/>
            <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors.required">Confirm Password is
                required!
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match!</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register
            </button>
          </div>
        </form>
        <div class="alert alert-warning" *ngIf="submitted && errorMessage">Signup failed!<br />{{ errorMessage }}</div>
      </div>
      <div class="alert alert-success" *ngIf="submitted && registerForm.valid && !isSignUpFailed">Your registration is successful!</div>
    </div>
  </div>
</div>

